.App-logo {
  height: 200px;
}

.App-header {
  background-color: white;
  padding: 10px;
  color: black;
  text-align: center;
}

.App-header-text {
  font-size: 5rem;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
}

.instruction-header {
  font-family: "Raleway";
  font-weight: lighter;
  font-size: 30px;
  align-content: center;
  text-align: center;
  align-self: center;
}

.instruction-text {
  font-family: "Raleway";
  font-weight: lighter;
  font-size: 20px;
}

.button {
  position: relative;
  top: -15px;
}

.App-intro {
  font-size: large;
}