.App-logo {
  height: 200px;
}

.App-header {
  background-color: white;
  padding: 10px;
  color: black;
  text-align: center;
}

.App-header-text {
  position: relative;
  top: -10px;
  font-size: 3rem;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
}

.button {
  position: relative;
  top: -15px;
}

.App-intro {
  font-size: large;
}
